<div data-uid="{{id}}" class="row check-item shadow-sm p-3 mb-5 bg-light rounded">
    <i class="material-icons col-2 toggle-check">
    {{#if active}}
        play_circle_filled
    {{else}}
        pause_circle_filled
    {{/if}}
    </i>
    <a href="{{{url}}}" class="col-8">{{url}}</a>
    <i class="material-icons" class="col-2">edit</i>
    <i class="material-icons" class="col-2">delete</i>


</div>